.search_input_container{
    display: flex;
    justify-content: center;
    position: relative;
    position: fixed;
    top: 10px;
    width: 100%;
}

.search_input_item{
    width: 90%;
    position: relative;
}

.search_input_container input{
    display: inline-block;
    padding: 20px 20px 20px 70px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    background: #38393a;
    color: #fff;
}

nav{
    background: #393838;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5px 30px;
}

nav ul li{
   text-align: center;
   padding: 10px 15px;
   cursor: pointer;
   border-radius: 10px;
}

nav ul li:hover{
    background: #0c0c0c;
    transition: 1s;
}

.icon_container{
    font-size: 20px;
}

.movies_list_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin: 100px 0 70px 0;
}

.movies_notfound{
    font-size: 25px;
    font-weight: 600;
    color: #999;
}